.git
.github
node_modules
vendor
.env
.env.*
!.env.example
storage/*
!storage/logs/.gitignore
!storage/framework/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/app/.gitignore
!storage/app/public/.gitignore
docker
*.md
tests
_ide_helper.php
.phpstorm.meta.php
.history/
.scribe/
